.swiper-support {
  padding-top: 150px;
  margin-top: -200px;
}
.swiper-support .swiper-button-next,
.swiper-support .swiper-button-prev {
  width: 40px;
  height: 40px;
  top: 130px;
  right: 0;
  transition: all 0.3s linear;
}
.swiper-support .swiper-button-prev {
  left: auto;
  right: 40px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}
.swiper-button-prev {
  background: url(../img/arrows/arrow-left-white.svg) center / cover;
}
.swiper-button-next {
  background: url(../img/arrows/arrow-right-white.svg) center / cover;
}
.swiper-support .swiper-button-prev:hover {
  background: #ffffff url(../img/arrows/arrow-left-black.svg) center / cover;
}
.swiper-support .swiper-button-next:hover {
  background: #ffffff url(../img/arrows/arrow-right-black.svg) center / cover;
}
.swiper-reviews {
  padding-bottom: 70px;
}
.swiper-reviews .swiper-button-next,
.swiper-reviews .swiper-button-prev {
  width: 40px;
  height: 40px;
  top: auto;
  bottom: 10px;
  transition: all 0.3s linear;
}
.swiper-reviews .swiper-button-next {
  right: 1rem;
}
.swiper-reviews .swiper-button-prev {
  left: 1rem;
}
@media (min-width: 640px) {
  .swiper-support .swiper-button-next,
  .swiper-support .swiper-button-prev {
    width: 80px;
    height: 80px;
    top: 60px;
  }
  .swiper-support .swiper-button-prev {
    right: 80px;
  }
  .swiper-reviews .swiper-button-next,
  .swiper-reviews .swiper-button-prev {
    width: 80px;
    height: 80px;
    bottom: 40px;
  }
  .swiper-reviews .swiper-button-next {
    right: 2rem;
  }
  .swiper-reviews .swiper-button-prev {
    left: 2rem;
  }
}
@media (min-width: 1280px) {
  .swiper-support .swiper-button-next,
  .swiper-support .swiper-button-prev {
    width: 120px;
    height: 120px;
    top: 25px;
  }
  .swiper-support .swiper-button-prev {
    right: 120px;
  }
  .swiper-support {
    padding-top: 200px;
  }
  .swiper-reviews .swiper-button-next,
  .swiper-reviews .swiper-button-prev {
    width: 140px;
    height: 140px;
    bottom: 18px;
  }
  .swiper-reviews .swiper-button-next {
    right: 4rem;
  }
  .swiper-reviews .swiper-button-prev {
    left: 4rem;
  }
}
/* Custom scroll */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(167, 243, 6); 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(227, 243, 6); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(243, 205, 6); 
}